.hero{
    
    background-image: url(../images/herobackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(47, 48, 58, 0.40);
    padding-top: 320px;
    padding-bottom: 335px;
}

.hero-p{
    color: #FFF;
text-align: center;

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
}

.hero-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hearo-heading{
    width: 829px;
height: 111px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 134.09%; /* 64.363px */
}

.btn-lg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
height: 45px;
border-radius: 30px;
background: var(--Accent, #4985FF);
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
margin-top: 50px;
}